h1
{
    color:white;
    font-size: 50pt;
}
h1.subtitle
{
    color:Black;
    font-size:20pt;
}
body
{
    margin-left: 30px;
    margin-right: 30px;
    font-family: Arial;
}
div
{
    background: #acaba6;
    color:white
}
table, th, td {
    border: 1px solid black;
  background: yellow};
